<a href="https://colab.research.google.com/github/SonalM25/PythonML/blob/main/Assessment2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [43]:
import pandas as pd
df1=pd.read_csv('/content/sample_data/college_1.csv')
print(df1)
df2=pd.read_csv('/content/sample_data/college_2.csv')
print(df2)

              Name  python  mysql  Previous Geekions  CodeKata Score  \
0        A.Dharani    82.0   20.0              24500           24500
1      V.JEEVITHA     82.0   20.0              21740           21740
2      HEMAVATHI.R   100.0  100.0              19680           19680
3      Mugunthan S   100.0   47.0              10610           10610
4      Sathammai.S   100.0    8.0               8980            8980
..             ...     ...    ...                ...             ...
79    KarthikeyanS    45.0    0.0                  0               0
80        BARATH.P    29.0    0.0                  0               0
81   N.Ajith kumar    82.0    0.0                  0               0
82    mohamed nabi     0.0    0.0                  0               0
83  yaser ahamed.A     0.0   27.0                  0               0

                                Department  Rising
0         Computer Science and Engineering       0
1         Computer Science and Engineering       0
2         Computer Science and Engineering       0
3         Computer Science and Engineering       0
4         Computer Science and Engineering       0
..                                     ...     ...
79  Electronics and Electrical Engineering       0
80  Electronics and Electrical Engineering       0
81  Electronics and Electrical Engineering       0
82  Electronics and Electrical Engineering       0
83  Electronics and Electrical Engineering       0

[84 rows x 7 columns]
                      Name  python  python_en  mysql  computational_thinking  \
0            ASHOK KUMAR K     100          0     31                       9
1                  Chandru       0         20      0                       0
2        Ganesh Ramkumar R      -1         55     24                       6
3          Bodipudi Harini      -1          0     35                      -1
4                VIINU V P      -1        100     24                      -1
5               Poojitha Y       0         78     35                       0
6   Gowtham Chandrasekaran      -1          0      0                       3
7                Gowtham R      -1         60      4                       6
8                 shifak N      58          0      0                       0
9                  Balaji       -1        100     20                       0
10                Rushitha      -1         15     62                       9
11    Balaraman Muthupandi      -1          9      0                       0
12                JPradhap     100          0      0                       0
13           SRIRAMKUMAR B      -1          0      0                       0
14               Praneetha      -1         23    100                      -1
15             Rahul Raj K      -1          0      0                       0
16                 Guhan S      -1         72     35                      39
17            Suryarajan S      -1         63     31                       0
18          Narasimhan Y L      -1         -1      0                       0
19            Leelakrishna      -1          6      4                       0
20          PremsagarReddy      -1         20      0                       0
21               pradeeban      16         20     24                       0
22             santhoshini      -1         43      0                       0
23              MUKESH S M      -1         46      0                       0
24           P.GOVARDHANAN      -1         40      0                      -1
25            SHAIK DANISH      -1         43      0                       0
26               sridhar.s      -1         52      0                       0
27       Vimalesh Fernando      -1          0      0                       0
28           M.Karthikeyan      -1          0      4                       6
29               Abishak s      -1         55     35                       6
30           praveen raj j      24         -1      0                       0
31              AMARNATH D      -1         52     12                      -1
32                    bala      32         49      0                      -1
33                    XY Z      -1         20     -1                      -1
34               Hariharan      -1         -1     -1                       0

    Previous Geekions  CodeKata Score  \
0               19400           19400
1               14150           14490
2                8790           10790
3               10040           10040
4                9150            9150
5                7210            8970
6                7250            8950
7                8650            8650
8                5180            8320
9                6170            8160
10               7470            8090
11               7670            8050
12               7340            8030
13               6400            7940
14               7170            7730
15               6280            7640
16               7310            7630
17               6710            7550
18               4800            6800
19               5300            6640
20               5290            6290
21               6060            6090
22               3910            5740
23               5200            5200
24               5050            5050
25               4050            4820
26               3860            4440
27               4170            4170
28               4020            4020
29               3220            3220
30               2380            2380
31               1890            1890
32               1720            1720
33                  0               0
34                  0               0

                                   Department  Rising
0      Electronics and Electrical Engineering       0
1            Computer Science and Engineering     340
2            Computer Science and Engineering    2000
3   Electronics and Communication Engineering       0
4      Electronics and Electrical Engineering       0
5            Computer Science and Engineering    1760
6            Computer Science and Engineering    1700
7   Electronics and Communication Engineering       0
8      Electronics and Electrical Engineering    3140
9      Electronics and Electrical Engineering    1990
10           Computer Science and Engineering     620
11           Computer Science and Engineering     380
12     Electronics and Electrical Engineering     690
13           Computer Science and Engineering    1540
14  Electronics and Communication Engineering     560
15           Computer Science and Engineering    1360
16  Electronics and Communication Engineering     320
17           Computer Science and Engineering     840
18           Computer Science and Engineering    2000
19           Computer Science and Engineering    1340
20           Computer Science and Engineering    1000
21           Computer Science and Engineering      30
22           Computer Science and Engineering    1830
23           Computer Science and Engineering       0
24  Electronics and Communication Engineering       0
25           Computer Science and Engineering     770
26           Computer Science and Engineering     580
27           Computer Science and Engineering       0
28           Computer Science and Engineering       0
29  Electronics and Communication Engineering       0
30           Computer Science and Engineering       0
31  Electronics and Communication Engineering       0
32  Electronics and Communication Engineering       0
33           Computer Science and Engineering       0
34           Computer Science and Engineering       0

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [50]:
df2.mysql = df2.mysql.astype(float)
df3=pd.merge(df1,df2,how = 'outer', on = ['Name'])
print(df3)

              Name  python_x  mysql_x  Previous Geekions_x  CodeKata Score_x  \
0        A.Dharani      82.0     20.0              24500.0           24500.0
1      V.JEEVITHA       82.0     20.0              21740.0           21740.0
2      HEMAVATHI.R     100.0    100.0              19680.0           19680.0
3      Mugunthan S     100.0     47.0              10610.0           10610.0
4      Sathammai.S     100.0      8.0               8980.0            8980.0
..             ...       ...      ...                  ...               ...
114  praveen raj j       NaN      NaN                  NaN               NaN
115     AMARNATH D       NaN      NaN                  NaN               NaN
116           bala       NaN      NaN                  NaN               NaN
117           XY Z       NaN      NaN                  NaN               NaN
118      Hariharan       NaN      NaN                  NaN               NaN

                         Department_x  Rising_x  python_y  python_en  mysql_y  \
0    Computer Science and Engineering       0.0       NaN        NaN      NaN
1    Computer Science and Engineering       0.0       NaN        NaN      NaN
2    Computer Science and Engineering       0.0       NaN        NaN      NaN
3    Computer Science and Engineering       0.0       NaN        NaN      NaN
4    Computer Science and Engineering       0.0       NaN        NaN      NaN
..                                ...       ...       ...        ...      ...
114                               NaN       NaN      24.0       -1.0      0.0
115                               NaN       NaN      -1.0       52.0     12.0
116                               NaN       NaN      32.0       49.0      0.0
117                               NaN       NaN      -1.0       20.0     -1.0
118                               NaN       NaN      -1.0       -1.0     -1.0

     computational_thinking  Previous Geekions_y  CodeKata Score_y  \
0                       NaN                  NaN               NaN
1                       NaN                  NaN               NaN
2                       NaN                  NaN               NaN
3                       NaN                  NaN               NaN
4                       NaN                  NaN               NaN
..                      ...                  ...               ...
114                     0.0               2380.0            2380.0
115                    -1.0               1890.0            1890.0
116                    -1.0               1720.0            1720.0
117                    -1.0                  0.0               0.0
118                     0.0                  0.0               0.0

                                  Department_y  Rising_y
0                                          NaN       NaN
1                                          NaN       NaN
2                                          NaN       NaN
3                                          NaN       NaN
4                                          NaN       NaN
..                                         ...       ...
114           Computer Science and Engineering       0.0
115  Electronics and Communication Engineering       0.0
116  Electronics and Communication Engineering       0.0
117           Computer Science and Engineering       0.0
118           Computer Science and Engineering       0.0

[119 rows x 15 columns]

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [59]:
import pandas as pd
df1=pd.read_csv('/content/sample_data/college_1.csv')
exceeded_expect = df1[df1['CodeKata Score'] > 15000]
reached_expect = df1[(df1['CodeKata Score'] < 15000) & (df1['CodeKata Score'] > 10000)]
needs_improve = df1[(df1['CodeKata Score'] < 10000) & (df1['CodeKata Score'] > 7000)]
unsatisfactory = df1[df1['CodeKata Score'] < 7000]
exceeded_expect.to_csv('Exceeded expectaion.csv',index=False)
reached_expect.to_csv('Reached Expectation.csv',index=False)
needs_improve.to_csv('Needs_Improvement.csv',index=False)
unsatisfactory.to_csv('Unsatisfactory.csv',index=False)

In [60]:
import pandas as pd
df2=pd.read_csv('/content/sample_data/college_2.csv')
exceeded_expect2 = df2[df2['CodeKata Score'] > 15000]
reached_expect2 = df2[(df2['CodeKata Score'] < 15000) & (df2['CodeKata Score'] > 10000)]
needs_improve2 = df2[(df2['CodeKata Score'] < 10000) & (df2['CodeKata Score'] > 7000)]
unsatisfactory2 = df2[df2['CodeKata Score'] < 7000]
exceeded_expect2.to_csv('Exceeded expectaion.csv',index=False)
reached_expect2.to_csv('Reached Expectation.csv',index=False)
needs_improve2.to_csv('Needs_Improvement.csv',index=False)
unsatisfactory2.to_csv('Unsatisfactory.csv',index=False)

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

###### No of students participated

In [61]:
no_of_students=df1.shape[0] + df2.shape[0]
print(no_of_students)

119

###### #Average completion of python course or my_sql or python english or computational thinking

In [64]:
python = df2['python'].mean()
my_sql = df2['mysql'].mean()
computational_thinking = df2['computational_thinking'].mean()
print(python)
print(my_sql)
print(computational_thinking)

8.657142857142857
13.657142857142857
2.2

###### rising star of the week (top 3 candidate who performed well in that particular week)

###### Shining stars of the week (top 3 candidates who has highest geekions)

###### Department wise codekata performence (pie chart)

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)